node_modules
dist
/pnpm-lock.yaml
/yarn.lock
/package-lock.json

!/.browserslistrc

!/.eslint-config.js

!/.eslintrc.js

!/.prettierrc.js

!/commitlint.config.js

!/.vscode/settings.json

!/.vscode/extensions.json

!/.gitignore

!/package.json
